body {
  margin: 0;
  box-sizing: border-box;
}
.btn-google {
  font-family: 'DM Sans', sans-serif;
  color: #4285f4;
  background-color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  border: 10px solid rgb(255, 255, 255);
  padding: 9px;
  padding-top: 12px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn-google:hover {
  cursor: pointer;
  color: #ff7e06;
  background-color: white;

}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-height:100vh;
  overflow: hidden;
  background-color: hsl(240deg 81% 11% / 80%);
  aspect-ratio: 16 / 9;
}


.cont {
  position: absolute;
  bottom: 0;
  top: 0;
  margin-top: 5%;
  color: #fff;
  font-family: Avenir, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: azure;
  font-size: 100px;
  font-weight: 600;
  text-shadow: 0px 0px 7px black;
  margin-bottom: 90px;
  line-height: normal;
}

p {
  margin-bottom: 60px;
  color: azure;
  font-size: 70px;
  text-align: center;
  text-shadow: 0px 0px 7px black;
  font-weight: 600;

}

.cont-bienvenida span {
  color: #06b4ff;
  margin: 15px;
}


iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: auto;
  border: none;
  aspect-ratio: 16 / 9;
  pointer-events: none;
  z-index: -1;
}
