<header>
  <div class="cont">
    <div class="cont-bienvenida">
      <!-- <h1>fines estudiantiles</h1> -->
      <p>Training <span>X-treme</span></p>
    </div>
    <button routerLinkActive="router-link-active" type="button" class="btn-google" (click)="redirect()">
      <img src="../../../../assets/Google__G__Logo.png" style="height:30px;width:30px;"> Login with Google
    </button>
  </div>
  <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" width="640"
    height="360"
    src="https://www.youtube.com/embed/sAMMpZDKygE?autoplay=1&playlist=sAMMpZDKygE&loop=1&mute=1&enablejsapi=1&modestbranding=1&showinfo=0&controls=0"
    frameborder="0"></iframe>
</header>
